<div class="container">
    <div class="d-flex justify-content-center align-items-center vh-100">
        <div class="col-md-4 oofset-md-4">
            <h1 class="text-white">Sign up!</h1>
            <form>
                <div class="mb-3">
                    <label class="form-label text-white">Nombre</label>
                    <input type="text" class="form-control" id="first_name">
                </div>
                <div class="mb-3">
                    <label class="form-label text-white">Apellido</label>
                    <input type="text" class="form-control" id="last_name">
                </div>
                <div class="mb-3">
                    <label class="form-label text-white">Email</label>
                    <input type="text" class="form-control" id="email">
                </div>
                <div class="mb-3">
                    <label class="form-label text-white">Edad</label>
                    <input type="text" class="form-control" id="age">
                </div>
                <div class="mb-3">
                    <label class="form-label text-white">Contraseña</label>
                    <input type="password" class="form-control" id="password">
                </div>
                <button type="button" class="btn btn-primary" id="btnRegister">Registrar</button>
            </form>
        </div>
    </div>
</div>

<script src="register/register.js"></script>